<nav class="menu" role="navigation" aria-label="Main menu"> <!--used nav for menu-->
    <ul>
        <!--added title attribute for impact on SEO-->
        <li><a routerLink = "/" title="Homepage-Personal Budget">Homepage</a></li>
        <li><a routerLink = "/about" title="Learn more about personal budget">About</a></li>
        <li><a routerLink = "/login" title="Login to personal budget">Login</a></li>
        <li><a routerLink = "/contact" title="Contact personal budget team">Contact</a></li>
    </ul>
</nav>